$white1: #fafafa;
$blue: #1f97ff;
$black1: #131313;
$black3: #333333;
$gray: #d6d6d6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans" sans-serif;
}

body {
    width: 100%;
    height: 100vh;

    background-color: $white1;
}

.header {
    width: 100%;
    height: 35px;
    position: fixed;
    top: o;
    z-index: 999;
    background-color: rgba(17,17,17,0.8);
    backdrop-filter: blur(20px);
}

.header-container {
    max-width: ;
}
